* {
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

.wrap {
    padding: 50px;
    text-align: center;
}

input,
#button {
    margin-bottom: 20px;
}

input {
    width: 300px;
    padding: 5px;
}

#button {
    background: #12A5F4;
    padding: 10px 20px;
    display: inline-block; 
    color: #FFF;
    text-decoration: none;
    border-radius: 50px;
}

items-data {
    position: relative;
}

ul {
    list-style: none;
    width: 200px;
    margin: 0 auto;
    background: #444;
    padding: 10px;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
    display: none;
}
ul.list-is-open {
    display: block;
}
ul:before {
    content: "";
    width: 0;
    height: 0;
    border-bottom: 10px solid #444;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    position: absolute;
    top: -10px;
}

ul li {
    text-align: left;
    color: #FFF;
    margin: 6px 0;
    border-bottom: 1px solid #333;
    padding: 3px 0;

}
ul li:hover {
    color: #12A5F4;
    cursor: pointer;
}

@-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
      



    
    
   
    